/* Apply styles to the specific container instead of the body */
.blog-app-container {
  margin: 0;
  
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
}

.blog-slider-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.blog-background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.blog-stars, .blog-twinkling, .blog-clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 10000px;
  height: 100%;
}

.blog-stars {
  background: transparent url("https://images.pexels.com/photos/1350463/pexels-photo-1350463.jpeg?auto=compress&cs=tinysrgb&w=600") repeat-x;
  background-size: 800px 800px;
  z-index: 0;
  animation: move-stars 70s linear infinite;
}

.blog-twinkling {
  background: transparent url("https://media.istockphoto.com/id/1358927461/photo/currency-and-exchange-stock-chart-for-finance-and-economy-display.jpg?b=1&s=612x612&w=0&k=20&c=qs_ZlWvOYpDTDySBOBsOEMmT7zgieOnVf9znAbOnpp4=") repeat-x;
  background-size: 800px 800px;
  opacity: 0.4;
  z-index: 1;
  animation: move-twinkling 150s linear infinite;
}

.blog-clouds {
  background: transparent url("https://media.istockphoto.com/id/1358927461/photo/currency-and-exchange-stock-chart-for-finance-and-economy-display.jpg?b=1&s=612x612&w=0&k=20&c=qs_ZlWvOYpDTDySBOBsOEMmT7zgieOnVf9znAbOnpp4=") repeat-x;
  background-size: cover;
  opacity: 0.4;
  z-index: 2;
  animation: move-clouds 150s linear infinite;
}

@keyframes move-stars {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(-50%, 0px, 0px);
  }
}

@keyframes move-twinkling {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(-50%, 0px, 0px);
  }
}

@keyframes move-clouds {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(-50%, 0px, 0px);
  }
}

.scroll-tracker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: blue;
  transform-origin: left center;
  z-index: 3;
}

main {
  max-width: 800px;
  font-family: 'Palatino Linotype', 'Palatino', 'Book Antiqua', serif;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 8px;
  z-index: 3;
}

article {
  margin-bottom: 40px;
}

.blogtitle {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #333;
  
}

.blogp {
  font-size: 1.2143rem;
  line-height: 2rem;
  font-weight:bold;
  margin-bottom: 20px;
  color: #555;
}

.blogimg {
  width: 80%;
  height: 300px;
  display: block;
  margin: 20px 0;
  border-radius: 8px;
  margin-left: 80px;
}
.blogimg2 {
  width: 80%;
  height: 300px;
  display: block;
  margin: 20px 0;
  border-radius: 8px;
  margin-left: 80px;
  
}
.blogimg3 {
  width: 80%;
  height: 300px;
  display: block;
  margin: 20px 0;
  border-radius: 8px;
  margin-left: 80px;
}
.blogimg4 {
  width: 80%;
  height: 300px;
  display: block;
  margin: 20px 0;
  border-radius: 8px;
  margin-left: 80px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 1.2143rem;
  line-height: 2rem;
  font-weight: bold;
}

li {
  margin-bottom: 10px;
  color: #555;
}

@media (max-width: 768px) {
  main {
    padding: 15px;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  ul {
    padding-left: 15px;
  }
}
@media (max-width: 400px) {
  .blogtitle {
    font-size: 2rem; /* Adjust title font size */
  }

  .blogp {
    font-size: 1rem; /* Adjust paragraph font size */
  }

  .blogimg,
  .blogimg2,
  .blogimg3,
  .blogimg4 {
    width: 100%; /* Adjust image width to fit smaller screens */
    margin-left: 0; /* Reset image left margin */
  }
}