@keyframes reveal {
    80% {
      letter-spacing: 8px;
    }
  
    100% {
      background-size: 200% 200%;
    }
  }
  
  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }
  
  .background-containerspagebusiness {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent url("https://img.freepik.com/free-photo/weathered-blue-page_53876-88602.jpg?size=626&ext=jpg&ga=GA1.1.1609735481.1717094658&semt=ais_user") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Palatino Linotype', 'Palatino', 'Book Antiqua', serif;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    color: black;
  }
  
  .contentspagebusiness {
    text-align: center;
    color: black;
  }
  
  .headingspagebusiness {
    margin-bottom: 20px;
    font-size: 4rem;
    color: black;
    font-weight: 200;
    margin-top: -20px;
    margin-bottom: 50px;
  }
  
  .carouselspagebusiness {
    min-width: 700px;
    width: 700px;
    height: 500px;
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: hsl(0 0% 90%);
    box-sizing: border-box;
    color: black;
  }
  
  .cibusiness {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    transform-origin: left 50%;
    background: inherit;
    transition: .3s ease-out;
  }
  
  .cibusiness img {
    -moz-user-select: none;
    user-select: none;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .chbusiness {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
    color: black;
    text-align: center;
  }
  
  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
  }
  
  label {
    width: 10%;
    height: 10px;
    margin-right: 4px;
    border-radius: 20px;
    background: hsla(0 0% 90% / .3);
    cursor: pointer;
    position: relative;
    z-index: 10;
  }
  
  label:last-child {
    margin-right: 0;
  }
  
  input:checked + label {
    background: linear-gradient(to right,
      hsla(var(--hue) 80% 70% / .7),
      hsla(calc(var(--hue) + 30) 80% 50% / .7));
  }
  
  input:not(:checked) + label + .cibusiness{
    transform: translateX(-100%);
    opacity: 0;
  }
  
  input:checked + label + .ci ~ .cibusiness {
    transform: translateX(100%);
  }
  
  input:not(:checked) + label + .cibusiness{
    transition: 0;
  }
  
  .label-32 {
    --hue: 32;
  }
  
  .label-82 {
    --hue: 82;
  }
  
  .label-40 {
    --hue: 40;
  }
  
  .label-210 {
    --hue: 210;
  }
  
  .label-50 {
    --hue: 50;
  }
  
  .ci-4pagebusiness {
    --z: 4;
    background-image: url('../assets/banner/businessadvisory.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .ci-3pagebusiness {
    --z: 3;
    background-image: url('../assets/banner/businessadvisory.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .ci-2pagebusiness {
    --z: 2;
    background-image: url('../assets/banner/businessadvisory.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .ci-1pagebusiness {
    --z: 1;
    background-image: url('../assets/banner/businessadvisory.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .ci-5pagebusiness {
    --z: 5;
    background-image: url('../assets/banner/businessadvisory.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .ch-32 {
    --h: 32;
    --s: 80%;
    --l: 90%;
    color: black;
  }
  
  .ch-82 {
    --h: 82;
    --s: 80%;
    --l: 90%;
    color: black;
  }
  
  .ch-40 {
    --h: 40;
    --s: 100%;
    --l: 89%;
    color: black;
  }
  
  .ch-210 {
    --h: 210;
    --s: 70%;
    --l: 90%;
    color: black;
  }
  
  .ch-50 {
    --h: 50;
    --s: 90%;
    --l: 80%;
    color: black;
  }
  
  
  @media (max-width: 400px) {
    .background-containerspagebusiness {
      background-size: cover;
    }
  
    .headingspagebusiness {
      font-size: 2rem;
      
    }
  
    .carouselspagebusiness {
      width: 100%;
      height: 80vh;
      padding-bottom: 20px;
    }
  
    .cibusiness {
      width: 100%;
      height: 100%;
    }
  
    .chbusiness {
      font-size: 1.5rem;
    }
  
    label {
      width: 10%;
      height: 5px;
      margin-right: 2px;
      border-radius: 10px;
    }
  
    label:last-child {
      margin-right: 0;
    }
  }
  